{{define "content"}}
<div class="container home-main">
    <div class="signupnow">
        <button class="button is-info is-large" @click="start" >开始使用</button>
        <div class="erweima">
            <img src="/static/image/erweima.jpeg" alt="微信公众号hedwi" />
            <p> 扫描二维码关注公众号以获得更新通知 </p>
        </div>
    </div>
</div>
{{ end }}
{{define "topExtra" }}
<div id="main">
    <section class="section even">
        <div class="container">
            <div class="column image-example ">
            </div>
        </div>
</div>
</section>
<section class="odd">
    <div class="container">
        <div class="columns home">
            <div class="column is-half">
                <div class="feature integrate">
                    <p>
                        <i class="material-icons">bolt</i>
                        </br>
                    <h1>极速体验</h1>
                    </p>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="feature feature-desc">
                    <p>操作直观、方便</p>
                    <p>批量处理，告别重复劳动</p>
                    <p>流畅、快速，极致用户体验</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="even more-features">
    <div class="container">
        <div class="columns home">
            <div class="column is-half">
                <div class="feature feature-desc">
                    <p>支持分屏浏览、回复功能</p>
                    <p>支持添加星标、标签</p>
                    <p>支持邮件归档、过滤、搜索</p>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="feature inbox">
                    <p>
                        <i class="material-icons">hdr_strong</i>
                        </br>
                    <h1>功能强大</h1>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="odd more-features">
    <div class="container">
        <div class="columns home">
            <div class="column is-half">
                <div class="feature inbox">
                    <p>
                        <i class="material-icons">keyboard_alt</i>
                        </br>
                    <h1>支持快捷键</h1>
                    </p>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="feature feature-desc">
                    <p>跳转、浏览、星标、删除、归档</p>
                    <p>写邮件、编辑邮件</p>
                    <p>列表、详情都支持快捷键</p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
{{ end }}
{{define "headercss"}}
{{ end }}
{{define "headerjs"}}
{{ end }}
{{ define "footerjs" }}
<script src="/static/js/home.js?v={{._timestamp}}"></script>
{{ end }}