{{define "content"}}
<div class="container home-main">
    <div class="signupnow">
        <button class="button is-info is-large" @click="start" >开始使用</button>
        <div class="erweima">
            <img src="/static/image/erweima.jpeg" alt="微信公众号hedwi" />
            <p> 扫描二维码关注公众号以获得更新通知 </p>
        </div>
    </div>
</div>
{{ end }}
{{define "topExtra" }}
<div id="main">
    <section class="section even">
        <div class="container">
            <div class="column image-example ">
                <img src="/restdoc/zh-hans/assets/images/demo.png" alt="demo" />
            </div>
        </div>
</div>
</section>
<!--
<section class="odd">
    <div class="container">
        <div class="columns home"></div>
    </div>
</section>
-->
</div>
{{ end }}
{{define "headercss"}} {{ end }}
{{define "headerjs"}} {{ end }}
{{ define "footerjs" }}
<script src="/static/js/home.js?v={{._timestamp}}"></script>
{{ end }}