{{define "content"}}

    <div id="app" class="container" v-cloak>
        <div class="card ">

                <div class="terms">

                    <h2>Hedwi邮件发送平台服务协议</h2>

                    <h2 id="-">一、 定义</h2>
                    <h3 id="1-hedwi-hedwi-">1. Hedwi 邮件发送平台：基于云端技术搭建的邮件投递服务。以下简称“ Hedwi ”。</h3>
                    <h2 id="-">二、 甲方的权利义务</h2>
                    <h3 id="1-hedwi-">1. 甲方有权在 Hedwi 申请账号。甲方注册账号时，应向乙方提供真实完整且合法有效的信息。如甲方信息发生任何变更，甲方应于变更后书面通知乙方并提供最新资料信息。</h3>
                    <h3 id="2-hedwi-">2. 甲方使用 Hedwi 应向乙方支付相应的费用。</h3>
                    <h3 id="3-hedwi-">3. 甲方在使用 Hedwi 期间，承诺并保证：</h3>
                    <p>
                    <ol>
                        <li>遵守所有中华人民共和国法律法规和国际上有关互联网和电子邮件的协议、规定、程序和惯例；</li>
                        <li>不利用 Hedwi 进行干扰或扰乱乙方网络服务或其他正常使用；</li>
                        <li>不行使其他可能给乙方带来任何不利影响的行为或者法律及政策禁止的行为。</li>
                        <li>甲方不得利用 Hedwi 发送垃圾邮件：<ol>
                                <li>收件人没有计划收到的营销性电子邮件；</li>
                                <li>收件人无法拒收的电子邮件；</li>
                                <li>虚假收件人地址的电子邮件或包含大量采集的邮件地址的电子邮件；</li>
                                <li>含有病毒、恶意代码、色情、反动等不良信息或有害信息的邮件。</li>
                                <li>甲方使用 Hedwi ，不得于任何时间任何事件中使用乙方的任何商标、Logo、服务标记、域名及其他具有显著品牌特征的标识。</li>
                            </ol>
                        </li>
                    </ol>
                    </p>
                    <h2 id="-">三、 乙方的权利义务</h2>
                    <h3 id="1-">1. 乙方对甲方行为无审核监督义务。因甲方行为给乙方造成的一切损失，乙方有权向甲方追偿。</h3>
                    <h3 id="2-hedwi-">2. 乙方有权对 Hedwi 进行定期或不定期的升级或完善，但应提前在相关页面进行公告。如甲方因此受到影响，乙方无需为此承担任何责任。</h3>
                    <h3 id="3-hedwi-">3. 乙方有权根据自己的判断对甲方是否违反本协议约定及 Hedwi 使用规则做出认定。甲方若有违反的，乙方有权随时中止或终止本协议。乙方无需就此征得甲方同意或提前通知甲方。</h3>
                    <h3 id="4-">4. 鉴于互联网服务的特殊性，对因不可抗力、第三方服务、黑客攻击、政策影响及其他任何非乙方原因引起的服务中断、数据丢失等，乙方均无需承担任何责任。</h3>
                    <h2 id="-">三、 其他</h2>
                    <h3 id="1-hedwi-hedwi-www-hedwi-com-">1. Hedwi 有权根据变化适时对本服务等级协议部分服务指标作出调整，并及时在 Hedwi 官网 www.hedwi.com 发布公告或发送邮件或书面通知向用户提示修改内容。</h3>

                </div>
            </div>

    </div>

{{ end }}
{{define "headercss"}}
{{ end }}

{{define "headerjs"}}
{{ end }}


{{define "footerjs"}}
<script src="/static/js/terms.js?v={{._timestamp}}"></script>
{{ end }}
