{{define "content"}}
<div class="columns">
    <div class="column">
        <p class="has-text-centered">
            <a href="/" title="首页" class="homelink">
                <div>
                    <div style="display: flex; align-items: center; padding-right: 5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tornado" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="21" y1="4" x2="3" y2="4"></line>
                            <line x1="13" y1="16" x2="7" y2="16"></line>
                            <line x1="11" y1="20" x2="15" y2="20"></line>
                            <line x1="6" y1="8" x2="20" y2="8"></line>
                            <line x1="4" y1="12" x2="16" y2="12"></line>
                        </svg>
                    </div>
                    <div class="brand">
                        <span>restdoc</span>
                    </div>
                </div>
            </a>
        </p>
    </div>
</div>
<div class="card signup-card">
    <div class="columns ">
        <div class="column ">
            <div class="enterprise">
                <form class="signup-form">
                    <div class="field is-horizontal is-half">
                        <div class="field-label is-normal">
                            <label class="label" for="ent-admin-username">用户名</label>
                        </div>
                        <div class="field-body">
                            <div class="field ">
                                <div class="control has-icons-left"> <input id="ent-admin-username" placeholder="请输入用户名" v-on:blur="checkUsername" v-on:focus="focusUsername" v-model="entAdminUsername" type="text" class="input" v-bind:class="{ 'is-danger': entAdminUsernameFormatError || entAdminUsernameRequiredError }"></input>
                                    <span class="icon is-small is-left">
                                        <i class="material-icons">account_circle</i>
                                    </span>
                                    <p v-show="entAdminUsernameRequiredError" class="help is-danger">需要输入用户名</p>
                                    <p v-show="entAdminUsernameFormatError" class="help is-danger ">用户名格式不正确(以字母或数字开头，只包含字母、数字、 下划线，长度 5-20)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="password">密码</label>
                        </div>
                        <div class="field-body">
                            <div class="field ">
                                <div class="control has-icons-left">
                                    <input id="ent-admin-password" placeholder="请输入密码" v-on:blur="checkPassword" v-on:focus="focusPassword" v-model="entAdminPassword" class="input" v-bind:class="{ 'is-danger': entAdminPasswordFormatError || entAdminPasswordRequiredError }" type="password" name="password" autocomplete="on"></input>
                                    <span class="icon is-small is-left">
                                        <i class="material-icons">lock</i>
                                    </span>
                                    <p v-show="entAdminPasswordRequiredError" class="help is-danger">需要输入密码</p>
                                    <p v-show="entAdminPasswordFormatError" class="help is-danger">密码格式不符合要求 (8-30个字符，至少1个大写字母，1个小写字母和1个数字)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal is-half">
                        <div class="field-label is-normal">
                            <label class="label" for="ent-admin-email">邮箱</label>
                        </div>
                        <div class="field-body">
                            <div class="field ">
                                <div class="control has-icons-left">
                                    <input id="ent-admin-email" placeholder="请输入邮箱以获取验证码" v-on:blur="checkEmail" v-on:focus="focusEmail" v-model="entAdminEmail" type="text" class="input" v-bind:class="{ 'is-danger': entAdminEmailFormatError || entAdminEmailRequiredError, }"></input>
                                    <span class="icon is-small is-left">
                                        <i class="material-icons">email</i>
                                    </span>
                                    <p v-show="entAdminEmailRequiredError" class="help is-danger">需要输入邮箱地址</p>
                                    <p v-show="entAdminEmailFormatError" class="help is-danger ">邮箱格式不正确</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="ent-admin-code">邮箱验证码</label>
                        </div>
                        <div class="field-body">
                            <div class="field ">
                                <div class="control has-icons-left">
                                    <input id="ent-admin-code" name="" :placeholder="entAdminPlaceholder" v-on:focus="focusCode" v-model="entAdminCode" class="input verify-code " v-bind:class="{ 'is-danger': entAdminCodeRequiredError }" type="text" autocomplete="off"></input>
                                    <span class="icon is-small is-left">
                                        <i class="material-icons">vpn_key</i>
                                    </span>
                                    <button :disabled='entAdminGetMailDisabled'  type="button" class="getMailCodeButton button" v-on:click="getMailCode()">[[ entAdminSendText ]]</button>
                                    <p v-show="entAdminCodeRequiredError" class="help is-danger">需要输入邮箱验证码</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal check-area">
                        <div class="field-label is-normal">
                            <label class="label" for="captcha"></label>
                        </div>
                        <div class="field-body">
                            <div id="embed-captcha-ent-admin"> </div>
                        </div>
                    </div>
                    <!--
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="captcha"></label>
                        </div>

                        <div class="field-body">
                            <p id="wait-ent-admin" class="wait show">正在加载......</p>
                            <p id="notice-ent-admin" class="notice hide">请先完成验证</p>
                            <input type="hidden" id="status-ent-admin" name="geetest_success">
                            <div></div>
                        </div>
                    </div>
                    -->
                    <div class="field is-horizontal">
                        <div class="field-label"></div>
                        <div class="field-body">
                            <label class="checkbox">
                                <input type="checkbox" v-model="entAdminAgree" class="term-checkbox">我已阅读并同意<a href="{{.hostdomain}}/terms" target="_blank" class="blank">服务条款</a>及<a href="{{.hostdomain}}/privacy-policy" target="_blank" class="blank">隐私协议</a>
                            </label>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label"></div>
                        <div class="field-body">
                            <div class="field ">
                                <div class="control has-icons-left">
                                    <button type="button" v-on:click="signup" class="button is-fullwidth is-link">管理员注册</button>
                                    <p v-show="serverError" class="help is-danger">[[ serverMessage ]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="columns login-link">
    <div class="column">
        <div class="control has-text-centered"> 已有帐号？ <a href="/login">点击登录</a>
        </div>
    </div>
</div>
</div> {{ end }} {{ define "headercss" }} {{ end }} {{define "navi"}}
<nav id="naviApp" class="navbar" role="navigation" aria-label="main navigation"> </nav>
{{ end }} {{ define "headerjs" }}
<script src="//apps.bdimg.com/libs/jquery/1.9.1/jquery.js"></script>
<script src="//static.geetest.com/static/tools/gt.js"></script>
{{ end }} {{define "footerjs"}}
<script src="/static/js/signup.js?v={{._timestamp}}"></script>
{{ end }}